<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">GPRO CRM</span>
        </a>

        <ul class="sidebar-nav">
            <div *ngIf="authService.isResponsable_Societe()">
                <li class="sidebar-header">
                    Espace Responsable Sociéte
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="dashboard-customer-admin">
                        <i class="align-middle">
                            <mat-icon class="mat-18">dashboard icon</mat-icon>
                        </i>
                         <span class="align-middle">Dashboard Responsable</span>
                    </a>
                </li>
    
                
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="clients">
                        <i class="align-middle"><mat-icon>people_outline</mat-icon></i> <span class="align-middle">Gestion Personnels</span>
                    </a>
                </li>
            </div>


            <li class="sidebar-header">
                Espace Personnel Sociéte
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="dashboard-customer">
                    <i class="align-middle"><mat-icon class="mat-18">dashboard icon</mat-icon></i> <span class="align-middle">Dashboard Personnel</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="complaints/add">
                    <i class="align-middle"><mat-icon>create</mat-icon></i> <span class="align-middle">Envoyer réclamation</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="complaints">
                    <i class="align-middle"><mat-icon>menu</mat-icon></i> <span class="align-middle">Historiques Réclamations</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="client/projects">
                    <i class="align-middle"><mat-icon>apps</mat-icon></i> <span class="align-middle">Liste Projets</span>
                </a>
            </li>
            
            <li class="sidebar-item">
                <a class="sidebar-link" [routerLink]="'customers/edit/'+id">
                    <i class="align-middle"><mat-icon>person_outline</mat-icon></i> <span class="align-middle"> Gérer Compte</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-blank.html">
                    <i class="align-middle"><mat-icon> email</mat-icon></i> <span class="align-middle">Inbox</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-up.html">
                    <i class="align-middle"><mat-icon> chat</mat-icon></i> <span class="align-middle">Chat Room</span>
                </a>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" (click)="onLogout()">
                    <i class="align-middle"><mat-icon>power_settings_new</mat-icon></i> <span class="align-middle">Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>
</nav>