<nav class="navbar navbar-expand navbar-light navbar-bg" style="background-color:rgb(36,36,35)" *ngIf="this.authService.loggedUser">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" style="color:white"><mat-icon> chat_bubble_outline</mat-icon></i>
                        <span class="indicator" style="background-color: red;" *ngIf="data">{{nb}}</span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
                    <div class="dropdown-menu-header">
                        <div class="position-relative">
                            4 New Messages
                        </div>
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <div class="row g-0 align-items-center">
                                <div class="col-2">
                                    <img src="img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
                                </div>
                                <div class="col-10 ps-2">
                                    <div class="text-dark">Vanessa Tucker</div>
                                    <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
                                    <div class="text-muted small mt-1">15m ago</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="dropdown-menu-footer">
                        <a href="#" class="text-muted">Show all messages</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="this.authService.isAdmin() || this.authService.isEmployee()">
                <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                    <div class="position-relative">
                        <i class="align-middle" style="color:white"><mat-icon>notifications_none</mat-icon></i>
                        <span class="indicator" style="background-color: red;" *ngIf="data">{{nb}}</span>
                    </div>
                    
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                    aria-labelledby="alertsDropdown">
                    <div class="dropdown-menu-header">
                        {{nb}} New Notifications
                    </div>
                    <div class="list-group">
                        <a *ngFor="let d of data" (click)="go()" class="list-group-item">
                            <div class="row g-0 align-items-center">
                                <div class="col-2">
                                    <i class="text-danger"><mat-icon>error_outline</mat-icon></i>
                                </div>
                                <div class="col-10">
                                    <div class="text-dark">{{d.sujet}}</div>
                                    <div class="text-muted small mt-1">Company Name: {{d.societe}} 
                                        </div>
                                    <div class="text-muted small mt-1">Project: {{d.projet}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="dropdown-menu-footer">
                        <a href="#" class="text-muted">Show all notifications</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                    data-bs-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                    data-bs-toggle="dropdown">
                    <img *ngIf=!retrievedImage src="assets/img/avatars/init.jpg "  class="avatar img-fluid rounded me-1"/>
                    <img *ngIf=retrievedImage [src]="retrievedImage" class="avatar img-fluid rounded me-1">
                     <span class="text-light">{{this.authService.loggedUser}} </span></a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1"
                            data-feather="user"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="index.html"><i class="align-middle me-1"
                            data-feather="settings"></i> Settings & Privacy</a>
                    <a class="dropdown-item" href="#"><i class="align-middle me-1"
                            data-feather="help-circle"></i> Help Center</a>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" href="#" (click)="onLogout()">
                        <i class="align-middle"><mat-icon>power_settings_new</mat-icon></i>
                        <span class="align-middle"> Log out</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</nav>