
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{data.sujet}}</h5>
        <p class="card-text">{{data.details}}</p>
        <div style="display: block;"> <b> Company Name: </b> {{data.societe}}</div>
        <div style="display: block;"> <b> Project: </b> {{data.projet}}</div>
        <div style="display: block;"> <b> Domain: </b> {{data.speciality}}</div>
        <div style="display: block;"> <b> Type: </b> {{data.type}}</div>
        <div style="display: block;"> <b> Complaint Date: </b> {{data.dateCreation}}</div>
        <div style="display: block;" *ngIf="data.developper"> <b> Forward To: </b> {{data.developper}}</div>
        <div style="display: block;"> <b> Status: </b> 
            <span  class="badge bg-warning" *ngIf="data.status === 'EN_COURS' " > En cours </span>
            <span  class="badge bg-danger" *ngIf="data.status === 'EN_ATTENTE' " > En attente</span>
            <span  class="badge bg-success" *ngIf="data.status === 'ClOTURE' " > Cloturé </span>
        </div>
        <div style="display: block; margin: 5px;"  *ngIf="file">
             <b> File Related: </b>  <button (click)="download(file.id)" mat-button color="primary">{{file.name}}</button></div>
    <div *ngIf="authService.isAdmin() || authService.isEmployee()" style="margin-top: 10px;">
        <button *ngIf="!data.developper" mat-raised-button color="primary"  [disabled]="data.developper" (click)="forwardTest()">Forward Complaint</button>
        <button mat-raised-button color="primary">Reply To Complaint</button>
        <button mat-raised-button color="primary" (click)="takeAction()">Take Action</button>
        <button mat-raised-button color="primary" (click)="viewClient()">View client</button>
        <button  mat-raised-button color="warn" (click)="delete(data.id)">Delete Complaint</button>
    </div>
</div>