<div *ngIf="authService.isAdmin() || authService.isResponsable_Societe()">
  <button class="btn btn-link" (click)="all()">
    <mat-icon class="mat-18" class="align-middle">border_color</mat-icon>
    <span class="align-middle">Historiques  Réclamation(s)</span>
</button>
  <button class="btn btn-link" (click)="zeroAction()">
    <mat-icon class="mat-18" class="align-middle">report</mat-icon>
    <span class="align-middle"> Nouvelles Réclamation(s)</span>
  </button>
  <button class="btn btn-link" style="color: red;">
    <mat-icon class="mat-18" class="align-middle">equalizer</mat-icon>
    <span class="align-middle">Reclmations En Cours</span>
  </button>
  <button class="btn btn-link" (click)="closed()">
    <mat-icon class="mat-18" class="align-middle">check_circle_outline</mat-icon>
    <span class="align-middle">Réclamation(s) cloturés</span>
  </button>

  <hr>
</div>  

<div fxLayout fxLayoutAlign="center space-between">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
  </div> 
<div fxLayout fxLayoutAlign="center space-between" style="margin-bottom: 15px;">
    &nbsp;&nbsp;<button class="btn btn-dark btn-lg" (click)="exporter.exportTable('xlsx',{filename:'Complaints'})">Excel</button>
    &nbsp;&nbsp;<button class="btn btn-dark btn-lg" (click)="exporter.exportTable('csv',{filename:'Complaints'})">CSV</button>
    &nbsp;&nbsp;<button class="btn btn-dark btn-lg" (click)="exporter.exportTable('json',{filename:'Complaints'})">Json</button>
    &nbsp;&nbsp;<button class="btn btn-dark btn-lg" (click)="exporter.exportTable('txt',{filename:'Complaints'})">Txt</button>
</div>
<table mat-table matTableExporter [dataSource]="dataSource"  #exporter="matTableExporter" class="mat-elevation-z8">
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell *matCellDef="let element"> {{element.sujet}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>    
  
    <!-- Name Column -->
    <ng-container matColumnDef="Project">
        <th mat-header-cell *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let element"> {{element.projet}} </td>
    </ng-container>    
  
    <!-- Name Column -->
    <ng-container matColumnDef="Company Name" *ngIf="!authService.isResponsable_Societe()">
      <th mat-header-cell *matHeaderCellDef > Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.societe}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Company Name" *ngIf="authService.isResponsable_Societe()">
        <th mat-header-cell *matHeaderCellDef > Sent By </th>
        <td mat-cell *matCellDef="let element"> {{element.client}} </td>
      </ng-container> 
  
    <!-- Name Column -->
    <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.dateCreation}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> 
          <span  class="badge bg-warning" *ngIf="element.status === 'EN_COURS' " > En cours </span>
          <span  class="badge bg-danger" *ngIf="element.status === 'EN_ATTENTE' " > En attente</span>
          <span  class="badge bg-success" *ngIf="element.status === 'ClOTURE' " > Cloturé </span>
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Trello">
      <th mat-header-cell *matHeaderCellDef> Trello </th>
      <td mat-cell *matCellDef="let element" >
        <button mat-icon-button color="primary" *ngIf="this.authService.isEmployee()" (click)="goToTrello(element.sujet)">
        <i class="fa-brands fa-trello fa-2xl"></i>
        </button>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="details(element.id)">
            <mat-icon class="mat-18">reorder</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button color="warn" [disabled]="!authService.isAdmin()" (click)="delete(element.type_id)">
            <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
  </mat-paginator>
  
  