<!--<div class="row">
    <div class="col-12 col-lg-8 col-xxl-10 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title mb-0">Liste of Customers avaible</h5>
            </div>
            <table class="table table-hover my-0">
                <thead>
                    <tr>
                        <th class="d-none d-xl-table-cell">First Name</th>
                        <th class="d-none d-xl-table-cell">Last Name</th>
                        <th class="d-none d-xl-table-cell">Username</th>
                        <th class="d-none d-xl-table-cell">Email</th>
                        <th class="d-none d-xl-table-cell">Phone Number</th>
                        <th class="d-none d-xl-table-cell">Company Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data">
                        <td class="d-none d-xl-table-cell">{{d.nom}}</td>  
                        <td class="d-none d-xl-table-cell">{{d.prenom}}</td> 
                        <td class="d-none d-xl-table-cell">{{d.username}}</td>  
                        <td class="d-none d-xl-table-cell">{{d.email}}</td> 
                        <td class="d-none d-xl-table-cell">{{d.telephone}}</td>  
                        <td class="d-none d-xl-table-cell">{{d.societe}}</td>  
                        <td> <button class="btn btn-danger btn-sm" (click)= "delete(d.user_id)">Delete</button></td>
                            <td> <button class="btn btn-info btn-sm" [routerLink]="'edit/'+d.id">Modifier</button></td>      
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->
 
<button mat-raised-button color="primary" (click)="add()">
  <mat-icon class="mat-18">add</mat-icon><span>Add New Customer</span></button>
  <div style="background-color: white;margin-top: 20px;" class="mat-elevation-z8">
    <div fxLayout fxLayoutAlign="center space-between">
      <mat-form-field >
         <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
  </div>  
  
  <table mat-table [dataSource]="dataSource"  >
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name. </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef> Company Name </th>
          <td mat-cell *matCellDef="let element"> {{element.societe}} </td>
        </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="update(element.id)">
              Update
          </button>
        </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="warn" (click)="delete(element.id)">
              Delete
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="6" [pageSizeOptions]="[2, 4, 6, 10, 20]">
  </mat-paginator>
  
  </div>
