
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<div class="row" style="margin: 20px;">
  <button class="btn btn-dark" (click)="add()">
    add conversation
  </button>
</div>
<div class="main_section">
  <div class="container">
    <div class="chat_container">
      <div class="col-sm-3 chat_sidebar">
        <div class="row">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="  search-query form-control" placeholder="Conversation" />
              <button class="btn btn-danger" type="button">
                <span class=" glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
          <div class="dropdown all_conversation">
            <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-weixin" aria-hidden="true"></i>
              All Conversations
              <span class="caret pull-right"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a href="#"> All Conversation </a>
                <ul class="sub_menu_ list-unstyled">
                  <li><a href="#"> All Conversation </a> </li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="member_list">
            <ul class="list-unstyled">
              <li class="left clearfix" *ngFor="let conversation of inboxConversations" (click)="getMessagesByConversation(conversation)">
                <span class="chat-img pull-left">
                  <img
                    src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                    alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                  <div class="header_sec">
                    <strong class="primary-font">{{conversation.subject}}</strong> <strong class="pull-right">
                      {{conversation.lastModifiedDate | date:'short'}}</strong>
                  </div>
                  <div class="contact_sec">
                    <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>



      <div class="col-sm-9 message_section" *ngIf="selectConversation">
        <div class="row">
          <div class="new_message_head">
            <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> Conversation de {{currentConversation.subject}} </button>
            </div>
            <div class="pull-right">
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-cogs" aria-hidden="true"></i> Setting
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="chat_area">
            <ul class="list-unstyled">
              <li class="left clearfix" *ngFor="let message of inboxMessages">
                <div  *ngIf="message.fromId !== currentUser.id">
                  <span class="chat-img1 pull-left">
                    <img
                      src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                      alt="User Avatar" class="img-circle">
                  </span>
                  <div class="chat-body1 clearfix">
                    <p>{{message.message}}</p>
                    <div class="chat_time pull-right">{{message.sendDate | date:'short'}}</div>
                  </div>
                </div>
                <div  *ngIf="message.fromId === currentUser.id">
                <span class="chat-img1 pull-right" *ngIf="message.fromId === currentUser.id">
                  <img
                    src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                    alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body1 clearfix">
                  <p>{{message.message}}</p>
                  <div class="chat_time pull-right">{{message.sendDate | date:'short'}}</div>
                </div>
                </div>
              </li>

            </ul>
          </div>

          <div class="message_write">
            <textarea class="form-control" [formControl]="messageFormControl" matInput placeholder="type a message"></textarea>
            <div class="clearfix"></div>
            <div class="chat_bottom">
              <a href="#" class="pull-left upload_btn">
                <i class="fa fa-cloud-upload"aria-hidden="true"></i>
                Add Files
              </a>
              <a  class="pull-right btn btn-success" (click)="sendMessage()">  Send</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!selectConversation" style="
        font-size: 27px;
        color: gray;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 15%;
      ">
      {{ "PLEASE_SELECET_A_CONVERSATION"  }}
    </div>

    </div>
  </div>
</div>-->
<div class="inbox-wrapper fade-in-up container" style="margin-top: 10px">
  <ejs-splitter #horizontal height="44.5rem" separatorSize="4" width="100%">
    <e-panes>
      <e-pane size="30%" min="25%">
        <ng-template #content>
          <div class="list-conversation" #scrollMe>
            <div class="row no-gutters bg-grey" style="min-height: 40rem !important">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <ul class="list-group list-unstyled">
                  <li class="list-group-item" style="border-radius: 0; padding-top: 2rem; padding-bottom: 1.4rem;
                                        border-top: 0; border-left: 0; border-right: 0">
                    <div class="search-list w-100">
                      <div class="input-group">
                        <form role="form" style="width: 70%" (ngSubmit)="searchInboxConversation()">
                          <input [formControl]="searchFormControl" style="margin-left: 10%; height: 93%" type="text"
                            class="form-control" placeholder="{{ 'SEARCH' }}..." />
                        </form>
                        <span class="input-group-btn" style="margin-left: 10%">
                          <button class="btn" type="button" style="
                                border-radius: 100%;
                                background-color: #00b4d8;
                                ">
                            <i class="fa fa-search" style="color: white" aria-hidden="true"
                              (click)="searchInboxConversation()"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
                <div *ngIf="inboxConversations.length === 0 && !loading" style="
                        font-size: 18px;
                        color: gray;
                        margin-left: 20%;
                        margin-right: 20%;
                        margin-top: 15%;
                    ">
                  {{"THERE_ARE_NO_CONVERSATION_FOUND"}}
                </div>
                <div *ngIf="loading" style="
                        font-size: 5rem;
                        color: gray;
                        margin-left: 40%;
                        margin-top: 6%;
                    ">
                  <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                </div>
                <div *ngIf="inboxConversations.length > 0 && !loading" class="chk-inbox-sidebar">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" *ngFor="let conversation of inboxConversations">
                      <a class="nav-link ripple" data-toggle="tab" role="tab" [ngClass]="{
                                                    active: conversation.id === inboxConversation?.id
                                                    }" (click)="getMessagesByConversation(conversation)">
                        <div class="d-flex justify-content-start">
                          <div class="d-flex align-items-start flex-column mr-3 pos-relative"
                            style="padding-right: 5px">

                            <img *ngIf="conversation.participants?.length === 1 && conversation.participants[0].photo"
                              src="../../assets/img/avatars/gpro.jpg" class="rounded-circle" width="50"
                              height="40" alt="user thumb" />
                            <img *ngIf="conversation.participants?.length > 1" src="../../assets/img/avatars/gpro.jpg"
                              class="rounded-circle" width="50" height="40" alt="user thumb" />
                            <ngx-avatar
                              *ngIf="conversation.participants?.length === 1 && !conversation.participants[0].photo"
                              size="40" [name]="conversation.participants[0].name" initialsSize="2" bgColor="#30b4d8"
                              fgColor="white" style="text-align: center;
                                                                      border-radius: 100%;text-transform: uppercase;color: white;
                                                                      background-color: rgb(48, 180, 216);font: 16px/40px Helvetica, Arial, sans-serif;
                                                                      font-weight: bolder;"></ngx-avatar>
                          </div>
                          <div style="width: 100%">
                            <div class="row" style="margin-bottom: -4px">
                              <div class="col-sm-7" style="padding-right: 0">
                                <p *ngIf="conversation.subject" class="mb-1" style="color: #265a9e">
                                  {{ conversation.subject }}
                                </p>
                                <h5 style="color: #265a9e">
                                  {{ conversation.participants[0].name | titlecase}}
                                  <span *ngIf="conversation.participants.length > 1" #tooltip="matTooltip"
                                    aria-label="Example icon button with a home icon"
                                    [matTooltip]="getOtherParticipants(conversation.participants)"
                                    matTooltipClass="example-tooltip" matTooltipPosition="below">
                                    [+{{conversation.participants.length - 1}}]
                                  </span>
                                </h5>


                              </div>
                              <div class="col-sm-5" style="padding-right: 0">
                                {{conversation.lastModifiedDate | date:'short'}}
                              </div>
                            </div>
                            <!-- <p *ngIf="conversation.subject" class="mb-1" style="color: #265a9e">
                              {{ conversation.subject }}
                            </p> -->
                            <div *ngIf="conversation.seen">
                              <p class="text-muted mb-0">
                                {{ conversation?.lastInboxMessage?.message | truncate:76 }}
                              </p>
                            </div>
                            <div *ngIf="!conversation.seen">
                              <p style="font-weight: bold">
                                {{ conversation?.lastInboxMessage?.message }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-divider" style="margin: 0"></div>
                    </li>
                  </ul>
                </div>
                <!-- chk inbox sidebar closed -->
              </div>
              <!-- inner tab closed -->
            </div>
          </div>
        </ng-template>
      </e-pane>
      <e-pane size="70%" min="48%">
        <ng-template #content>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 0" *ngIf="selectConversation">
            <div class="chk-inbox-content">
              <div class="chk-block" style="max-height: 750px;
               min-height: 600px; margin-bottom: 0px !important">
                <div class="chk-block-content" style="padding-bottom: 4.5%; padding-left: 0; padding-right: 0">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" style="margin-bottom:10px ;">
                      <div class="d-flex justify-content-start">
                        <!-- <div class="d-flex align-items-start flex-column mr-3 pos-relative" (click)="goToProfile(inboxConversation.participants[0].id,inboxConversation.participants[0].role)" style="padding-left: 10px; cursor: pointer;"> -->
                        <div class="d-flex align-items-start flex-column mr-3 pos-relative" style="padding-left: 10px;">

                          <img
                            *ngIf="inboxConversation.participants?.length === 1 && inboxConversation.participants[0].photo"
                            [src]="photoSrc + inboxConversation.participants[0].id" class="rounded-circle"
                            (click)="goToProfile(inboxConversation.participants[0].id,inboxConversation.participants[0].role)"
                            style="cursor: pointer;" width="60" height="50" alt="user thumb" />
                          <img *ngIf="inboxConversation.participants?.length > 1" src="../../assets/img/avatars/init.jpg"
                            class="rounded-circle" width="50" height="50" alt="user thumb" />
                          <ngx-avatar
                            *ngIf="inboxConversation.participants?.length === 1 && !inboxConversation.participants[0].photo"
                            size="50" [name]="inboxConversation.participants[0].name" initialsSize="2"
                            (click)="goToProfile(inboxConversation.participants[0].id,inboxConversation.participants[0].role)"
                            bgColor="#30b4d8" fgColor="white" style="text-align: center; cursor: pointer;
                                                              border-radius: 100%;text-transform: uppercase;color: white;
                                                              background-color: rgb(48, 180, 216);font: 18px/51px Helvetica, Arial, sans-serif;
                                                              font-weight: bolder;"></ngx-avatar>
                        </div>
                        <div class="d-flex align-items-start flex-column w-100">
                          <div class="row" style="width: 100%;">
                            <div class="col-sm-8">

                              <h5 class="pull-left" [title]="roleMap.get(inboxConversation.participants[0].role)"
                                (click)="goToProfile(inboxConversation.participants[0].id,inboxConversation.participants[0].role)"
                                style="cursor: pointer;">
                                {{ inboxConversation.participants[0].name | titlecase}}
                              </h5>

                              <!-- <h5 class="pull-left" [title]="roleMap.get(inboxConversation.participants[0].role)" 
                              (click)="goToProfile(inboxConversation.participants[0].id,inboxConversation.participants[0].role)" style="cursor: pointer;">
                              {{ inboxConversation.participants[0].name | titlecase}}
                              </h5> -->

                              <div *ngIf="inboxConversation.participants.length > 1" class="example-button-container">
                                <button mat-mini-fab aria-label="Example icon button with a home icon"
                                  [matTooltip]="getOtherParticipants(inboxConversation.participants)"
                                  matTooltipClass="example-tooltip" matTooltipPosition="below"
                                  style="background: #9de6ed;margin-left: 15px;margin-top: -10px">
                                  + {{inboxConversation.participants.length - 1}}

                                </button>
                              </div>
                            </div>

                            <div class="col-sm-4" style="margin-top: 4px;">
                              <span class="pull-right small inbox-time"
                                style="font-size: 13px">{{inboxConversation.startDate | date:'short'}}</span>
                            </div>
                          </div> 

                          <p class="mb-1" style="color: #b8adae;font-weight: bold;">
                            {{ inboxConversation.subject }}
                          </p>

                        </div>

                      </div>
                      <div class="dropdown-divider my-3"></div>
                      <div class="mesgs">
                        <div class="msg_history" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                          <div *ngFor="let message of inboxMessages">
                            <div *ngIf="message.fromId === currentUser.id">
                              <div class="outgoing_msg">
                                <div class="sent_msg">
                                  <a (click)="downloadDocx(message)" *ngIf="message.fileUrl">
                                    <i *ngIf="message?.fileUrl" class="fa fa-file-pdf-o fa-2x"></i>
                                  </a>

                                  <p *ngIf="message.message">{{ message?.message }}</p>
                                  <span class="time_date">{{message.sendDate | date:'short'}}</span>
                                </div>
                              </div>
                            </div>
                            <div *ngIf="message.fromId !== currentUser.id">
                              <div class="incoming_msg">
                                <div class="incoming_msg_img" style="margin-left: 5px">
                                  <img *ngIf="message.userPhoto" [src]="photoSrc + message.fromId"
                                    class="rounded-circle" width="40" height="40" alt="user thumb" />
                                  <ngx-avatar *ngIf="!message.userPhoto" size="40" [name]="message.fromName"
                                    initialsSize="2" bgColor="#30b4d8" fgColor="white"></ngx-avatar>
                                </div>
                                <div class="received_msg">
                                  <div class="received_withd_msg">
                                    <a (click)="downloadDocx(message)" *ngIf="message.fileUrl">
                                      <i *ngIf="message.fileUrl" class="fa fa-file-pdf-o fa-2x"></i>
                                    </a>
                                    <p *ngIf="message.message">{{ message?.message }}</p>
                                    <span class="time_date">{{message.sendDate | date:'short'}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row col-12">
                        <div class="col-1" style="text-align: center; padding-top: 30px">
                          <div style="width: 60px; margin: auto;">
                            <label class="btn_upload" for="mediaInput"><i class='fa fa-cloud-upload fa-3x'></i></label>

                            <input type='file' id="mediaInput" style="visibility:hidden;"
                              (change)="uploadFile($event)" />
                          </div>

                        </div>
                        <div class="col-11">
                          <div style="padding-left: 20px">
                            <span *ngIf="currentFileUpload">{{currentFileUpload.name}} <i class="icon-close icons"
                                (click)="deleteFile()"></i></span>
                          </div>

                          <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Message</mat-label>
                            <textarea [formControl]="messageFormControl" matInput style="height: 50px"></textarea>
                          </mat-form-field>
                          <button (click)="sendMessage()" class="btn" style="
                                                            background-color: #2f93bf;
                                                            color: white;
                                                            float: right;
                                                            "
                            [disabled]="!messageFormControl.value && !currentFileUpload">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            {{"SEND" }}
                          </button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- chk block Closed -->
            </div>
            <!-- Chk inbox content closed -->
          </div>
          <div *ngIf="!selectConversation" style="
              font-size: 27px;
              color: gray;
              margin-left: 25%;
              margin-right: 25%;
              margin-top: 30%;
            ">
            {{ "PLEASE_SELECET_A_CONVERSATION"  }}
          </div>
        </ng-template>
      </e-pane>
    </e-panes>
  </ejs-splitter>
</div>

<ng-template #addConversationModal let-close="close">
  <div class="modal-header">
    <h3 style="font-weight: bold" class="modal-title">
      {{ "ADD_CONVERSATION"}}
    </h3>

    <button color="warning" class="close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body">
    <mat-form-field style="width: 100%">
      <mat-label>{{ "SUBJECT" }}</mat-label>
      <input type="text" [(ngModel)]="inboxConversationModal.subject" matInput name="subject" />
      <small [hidden]="isValid || inboxConversationModal.subject" class="chankya-block" class="text-danger">
        {{ "THIS_FIELD_IS_MANDATORY"  }}
      </small>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>{{ "SELECT_PARTICIPANTS"  }}</mat-label>
      <mat-select [ngModel]="selectedParticipantsIds" [formControl]="participantCtrl"
        placeholder="Séléctionner les participants" (ngModelChange)="setParticipants()" [multiple]="true" #multiSelect>
        <mat-option class="test-option">
          <ngx-mat-select-search [placeholderLabel]="'Rechercher'" [noEntriesFoundLabel]="'Participant not found'"
            [formControl]="participantFilteringCtrl">
          </ngx-mat-select-search>
        </mat-option>
        <mat-option class="test-option" *ngFor="let participant of filteredParticipants | async"
          [value]="participant.id">
          <span>{{ participant.name }}</span> <span> ({{ participant.role  }})</span>
        </mat-option>
      </mat-select>
      <small [hidden]="isValid || selectedParticipantsIds.length" class="chankya-block" class="text-danger">
        {{ "THIS_FIELD_IS_MANDATORY"  }}
      </small>
    </mat-form-field>
  </div>

  <div style="text-align: center; margin-top: 1rem">
    <button class="btn" style="
        background-color: #00b4d8;
        color: white;
        font-size: 15px;
        width: 25%;

      " (click)="save()">
      {{ "SAVE" }}
    </button>
  </div>
</ng-template>