<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">GPRO<span style="color: rgb(255, 0, 119);"> CRM</span></span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Espace Client Admin 
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="dashboard-customer-admin">
                    <i class="align-middle"><mat-icon class="mat-18">dashboard icon</mat-icon></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="clients">
                    <i class="align-middle"><mat-icon>people_outline</mat-icon></i> <span class="align-middle">Management Employees</span>
                </a>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="complaints/clientAdminList">
                    <i class="align-middle"><mat-icon>assessment</mat-icon></i> <span class="align-middle">Complaints History</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="client/projects">
                    <i class="align-middle"><mat-icon>apps</mat-icon></i> <span class="align-middle"> Projects List</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-blank.html">
                    <i class="align-middle"><mat-icon> email</mat-icon></i> <span class="align-middle">Inbox</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="pages-sign-up.html">
                    <i class="align-middle"><mat-icon> chat</mat-icon></i> <span class="align-middle">Chat Room</span>
                </a>
            </li>


            <li class="sidebar-item">
                <a class="sidebar-link" (click)="onLogout()">
                    <i class="align-middle"><mat-icon>power_settings_new</mat-icon></i> <span class="align-middle">Log out</span>
                </a>
            </li>
        </ul>
    </div>
</nav>