<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Add a complaint</h5>
    </div>
    <div class="card-body">
        <div class="m-sm-4">
            <form [formGroup]="data" (ngSubmit)="submit()">
                <div class="mb-3">
                    <label class="form-label">Complaint Subject</label>
                    <input class="form-control form-control-lg" type="text" name="name" placeholder="Enter your subject"
                     formControlName="sujet"   
                    />
                </div>
                <div class="mb-3" *ngIf="projects.length != 0">
                    <label class="form-label">Complaint Related Project</label>
                    <select class="form-select mb-3" formControlName="projet">
                        <option value="">Select One</option>
                        <option [value]="p.id" *ngFor="let p of projects">{{p.designation}}</option>
                    </select>
                </div>
                <div class="mb-3" *ngIf="project">
                    <label class="form-label">Complaint Related Project</label>
                    <input class="form-control form-control-lg" type="text" name="name" [value]="project.designation" readonly/>
                </div>
                <div class="mb-3">
                    <label class="form-label">Complaint Type</label>
                    <select class="form-select mb-3" formControlName="type">
                        <option value="">Select One</option>
                        <option [value]="t.type_id" *ngFor="let t of types">{{t.type}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Complaint Détails</label>
                    <textarea class="form-control" id="form6Example7" 
                    formControlName="details"
                    rows="3"></textarea>
                </div>
                <div>
                    <div *ngIf="currentFile" class="progress">
                        <div
                          class="progress-bar progress-bar-info progress-bar-striped"
                          role="progressbar"
                          attr.aria-valuenow="{{ progress }}"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: progress + '%' }"
                        >
                          {{ progress }}%
                        </div>
                      </div>
                      <label class="btn btn-default">
                        <input type="file" (change)="selectFile($event)"  accept=".pdf"/>
                      </label>
                      <div class="alert alert-light" role="alert">{{ message }}</div>
                </div>
                <div class="text-center m-3">
                    <button mat-raised-button color="primary" style="margin-right: 10px;" [disabled]="! data.valid">Submit</button> 
                    <button type="reset" mat-raised-button color="warn" (click)="onClose()">Reset</button>
                    <!-- <button type="submit" class="btn btn-lg btn-primary">Sign up</button> -->
                </div>
            </form>
        </div>
    </div>
</div>