<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle" >GPRO CRM</span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Espace Admin
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="dashboard-admin">
                    <i class="align-middle"><mat-icon class="mat-18">dashboard icon</mat-icon></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>
            
            <li class="sidebar-header">
                Systems Employees
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="teams">
                    <i class="align-middle"><mat-icon>people_outline</mat-icon></i> <span class="align-middle">Géstion des Personnels</span>
                </a>
            </li>
            <li class="sidebar-header">
                Societés
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="societies">
                    <i class="align-middle"><mat-icon>domain</mat-icon></i> <span class="align-middle">Géstion des Societes</span>
                </a>
            </li>
            
            <li class="sidebar-header">
                HR Societés
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="customers">
                    <i class="align-middle"><mat-icon>people_outline</mat-icon></i> <span class="align-middle">Géstion des HR Sociétes</span>
                </a>
            </li>

            <li class="sidebar-header">
                Réclamations
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="complaints/adminList">
                    <i class="align-middle"><mat-icon>assessment</mat-icon></i> <span class="align-middle">Géestion des réclamations</span>
                </a>
            </li>
        
            <li class="sidebar-header">
                Projets (Logiciels)
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="projects">
                    <i class="align-middle"><mat-icon>apps</mat-icon></i> <span class="align-middle">Liste des Projets</span>
                </a>
            </li>

            <li class="sidebar-header">
                Géstion des communications
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="loginTest">
                    <i class="align-middle"><mat-icon> chat</mat-icon></i> <span class="align-middle">Chat Room</span>
                </a>
            </li>
            <li class="sidebar-header">
                Specialties
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="specialties">
                    <i class="align-middle"><mat-icon>grid_on</mat-icon></i> <span class="align-middle">Liste des spécialites</span>
                </a>
            </li>

            <li class="sidebar-header">
                Types des Réclamations
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="types">
                    <i class="align-middle"><mat-icon> title</mat-icon></i> <span class="align-middle">Liste Type Réclamation</span>
                </a>
            </li>

        </ul>
    </div>
</nav>