<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">GPRO<span style="color: rgb(255, 0, 119);"> CRM</span></span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Espace Admin
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="dashboard-admin">
                    <i class="align-middle"><mat-icon class="mat-18">dashboard icon</mat-icon></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>
            
            <li class="sidebar-header">
                Systems Employees
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="teams">
                    <i class="align-middle"><mat-icon>people_outline</mat-icon></i> <span class="align-middle">Management Employees</span>
                </a>
            </li>
            <li class="sidebar-header">
                Companies
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="societies">
                    <i class="align-middle"><mat-icon>domain</mat-icon></i> <span class="align-middle">Management Companies</span>
                </a>
            </li>
            
            <li class="sidebar-header">
                Managers of Companies
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="customers">
                    <i class="align-middle"><mat-icon>people_outline</mat-icon></i> <span class="align-middle">Management Managers </span>
                </a>
            </li>

            <li class="sidebar-header">
                Complaints
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="complaints/adminList">
                    <i class="align-middle"><mat-icon>assessment</mat-icon></i> <span class="align-middle">Management Complaints</span>
                </a>
            </li>
        
            <li class="sidebar-header">
                Projects 
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="projects">
                    <i class="align-middle"><mat-icon>apps</mat-icon></i> <span class="align-middle">Management Projects</span>
                </a>
            </li>

            <li class="sidebar-header">
                Specialties
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="specialties">
                    <i class="align-middle"><mat-icon>grid_on</mat-icon></i> <span class="align-middle">Management Specialties</span>
                </a>
            </li>

            <li class="sidebar-header">
                Complaints Types
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="types">
                    <i class="align-middle"><mat-icon> title</mat-icon></i> <span class="align-middle">Management Types</span>
                </a>
            </li>

        </ul>
    </div>
</nav>